.todos-produtos {
    display: flex;
    padding: 20px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}


.produto {
    display: flex;

    align-items: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 20px;
    gap: 20px;



    width: 370px;
    height: 100px;


    max-width: 370px;
    max-height: 100px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.info-card {
    display: flex;

    gap: 15px;
}



.foto {
    width: 80px;
    height: 80px;
}