@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    padding: 0 2rem;
}

#login .form{
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
    border-radius: 10px;
    
}

#login .field {
    padding-bottom: 0.5rem;
    
}

#login .field label{
    display: block;
}

#login .field input {
    
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #CA6F1E;
    width: 100%;
    max-width: 440px;
    margin: 0.4em auto;
}

#login .action {
    text-align: center;
    margin-top: 0.5rem;
}
button{
    
    width: 111px;
    height: 38px;
    background: #FF8818;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}
